<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="cotnainer-fluid">
        <a href="/" class="navbar-brand">SkyVault</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <% if (!locals.user) { %>
                    <li class="nav-item">
                        <a href="/sign-up" class="nav-link">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="/log-in" class="nav-link">Log In</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/log-out" class="nav-link">Log Out</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>