<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px;">
    <a href="/sky-vault" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <%= locals.user.username %>'s SkyVault    
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/upload" class="nav-link">Upload file</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Create folder</a>
        </li>
        <li class="nav-item">
            <a href="/log-out" class="nav-link">Log Out</a>
        </li>
    </ul>
</div>