<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form action="/sky-vault/edit-folder/<%= folder.id %>" method="post" class="border rounded p-5">
                <div class="mb-3">
                    <label for="foldername" class="form-label">Folder name</label>
                    <input type="text" name="foldername" id="foldername" value="<%= folder.name %>" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary w-100">Update</button>
            </form>
        </div>
    </div>
</div>