<div class="text-center">
    <h3><%= error.status %></h3>
    <p><%= error.message %></p>
    <p><%= error.details %></p>
    <a href="/">
        <button class="btn btn-secondary">Return</button>
    </a>
</div>