<div class="text-center">
    <h3><%= error.status %>: <%= error.message %></h3>
    <p><%= error.details %></p>
    <a href="/">
        <button class="btn btn-secondary">Return</button>
    </a>
</div>