<form action="/sign-up" method="post">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email">

    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password1">Password</label>
    <input type="password" name="password1" id="password1">

    <label for="password2">Repeat password</label>
    <input type="password" name="password2" id="password2">

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>