<% if(filesByFolder) { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Created</th>
                <th scope="col">Folder</th>
            </tr>
        </thead>
        <tbody>
            <% Object.keys(filesByFolder).forEach(folderName => { %>
                <% filesByFolder[folderName].forEach(file => { %>
                    <tr>
                        <td><%= file.name %></td>
                        <td><%= file.size %> B</td>
                        <td><%= file.created %></td>
                        <td><%= folderName %></td>
                    </tr>
                <% }) %>
            <% }) %>
        </tbody>
        
    </table>
<% } else { %>
    <p>No files.</p>
<% } %>