<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file" class="form-label">File</label>
        <input type="file" name="file" id="file" class="form-control">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>