<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form action="/upload" method="post" enctype="multipart/form-data" class="border radius p-4">
                <div class="form-group">
                    <label for="file" class="form-label">File</label>
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <% if (folders.length !== 0) { %>
                    <div class="form-group mt-3">
                        <label for="folder" class="form-label">Folder</label>
                        <select name="folder" id="folder" class="form-control">
                            <option value="null"></option>
                            <% folders.map(folder => { %>
                                <% if (folder.parentID === null) { %>
                                    <option value="<%= folder.id %>"><%= folder.name %></option>
                                    <% folders.map(folder2 => { %>
                                        <% if (folder.id === folder2.parentID) { %>
                                            <option value="<%= folder2.id %>">-<%= folder2.name %></option>
                                        <% } %>
                                    <%})%>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                <% } %>
                <button type="submit" class="btn btn-primary w-100 mt-3">Upload</button>
            </form>
        </div>
    </div>
</div>